@import url('../variables.css');

.Video {
    margin: 20px;
    padding: 15px;

    border: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;

    &-title {
        font-size: 2.5em;

        &-topic: {
            font-weight: 500;
        }
    }

    &-player {
         width: min-content;
         padding: 10px;
         margin-left: auto;
         margin-right: auto;
         background: #FAFAFA;
    }
}