@import url('../variables.css');

.Search {

    &-box {
        margin-top: 0px;
        margin-bottom: 0px;


        input {
            border-radius: 0px;
            height: 40px;
            box-shadow: none;
            color: #000;
        }

        

        button {
            color: #fff;
            background-color: $primary-color;

            width: 40px;
            height: 40px;

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }

        }
    }

}