@import url('../variables.css');

.Search {
    &-box {
        width: 650px;
        height: 60px;

        margin-top: 5px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        input {
            border-radius: 0px;
            box-shadow: none;
            color: #000;
        }


        button {
            color: #fff;
            background-color: $primary-color;

            width: 40px;
            height: 40px;

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }

        }
    }

    &-verticals {
        padding-top: 20px;

        ul {
            float:left;
            list-style: none;
            width:100%;
            padding-left:0px;
            margin-bottom: 0px;
        }
    }

    &-vertical {
        float:left;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;

        &--active {
            font-weight: 700;
            color: $primary-color;
            padding-bottom: 10px;
            border-bottom: 4px solid $primary-color;
        }
    }
}