@import '../../../../Variables.pcss';

.Suggestions {
    position: absolute;
    z-index: 3;
    top: 63px;
    width: 650px;

    .SuggestionItem {
        z-index: 3;
        border: 1px solid #BDC3C7;
    }
}

.ClickLayer {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}