$text-color: #545454;
$border-color: #ececec;
$primary-color: #00A6D6;

$link-blue: #1A0DAB;
$visited-blue: #609;
$link-green: #006621;
$description-grey: #545454;

$header-grey: #FBFBFB;
$background-grey: #F9F9F9;
