@import url('../../../../node_modules/normalize.css/normalize.css');
@import url('../variables.css');

body {
    color: $text-color;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}