@import '../../variables.css';

.Survey {
    background-color: $primary-color;

    &-form {
        background-color: #ffffff;

        max-width: 720px;
        min-height: 100vh;
        float: none;
        margin: 0 auto;

        .panel-body{
            padding: 0px 20px 20px;
        }
    }

    &-complete {
        padding: 20px;
        padding-top: 5px;
    }
}

.container-fluid {
    padding: 0;
}