@import '../../variables.css';


.rating {
    
    padding-right: 15px;  
     
}

.rating .fa-star {
    font-size: 17px;
    color: #ffd700;
}

.rating .fa-star-o {
    font-size: 17px;
    color: #e5c100;
}

.ImagesSearchResults {
    &-result {
        float: left;
        margin-left: 14px;
    }
}

.ImagesSearchResults img {
    display: block;
    
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 149px;
    width: 268px;
}
