@import '../variables.css';

.NewsSearchResults {
    margin-left: 14px;
    margin-top: 0px;

    &-result {
        margin-bottom: 10px;
         
        h2 {
            font-size: 18px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 21px;
            margin-bottom: 1px;
            margin-top: 0px;
            max-width: 500px;

            a, a:hover, a:focus {
                color: $link-blue;
                text-decoration: none;
            }

            a:visited {
                color: $visited-blue;
                text-decoration: none;
            }
        }

        span {
            color: $link-green;
            line-height: 16px;
            font-size: 14px;
            max-width: 500px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            white-space: nowrap;
        }

        p {
            color: $description-grey;
            display: block;
            font-size: 13px;
            font-weight: normal;
            height: auto;
            line-height: 18px;
            max-width: 800px;
            word-wrap: break-word;
        }

        img {
            float:left; 
            height:100px;
            width:100px;
            margin-right: 10px;	
        }
    }
}

