@import '../variables.css';

.ImagesSearchResults {

    &-result {
        float: left;
        margin-left: 14px;
    }
}

.ImagesSearchResults img {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 149px;
    width: 268px;
}
