@import url('../variables.css');

.Welcome {
}

.Learning {
    margin: 0px;
    height: 100vh;

    &-medium {
        padding: 0px;
        height: 100%;
        overflow-y: scroll;

        border: 0px;
        border-right: 1px;
        border-style: solid;
        border-color: lightgrey;
    }

    &-task {
        background-color: $primary-color;
        height: 100%;
        padding: 20px;
    }
}