@import url('../variables.css');

.Welcome {
    margin-bottom: 50px;
}

.Learning {
    margin: 0px;
    height: 100vh;

    &-medium {
        padding: 0px;
        height: 100%;

        border: 0px;
        
        border-style: solid;
        border-color: lightgrey;
    }

    &-task {
        background-color: $primary-color;
        
        padding: 20px;
    }
}

.introjs-skipbutton {
    display: none;
}
