@import url('../../Variables.pcss');

.waitBox {
    padding: 0 20px 0 20px;

    background-color: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 4px;

    width: 60%;
}

canvas {
    background: #ffffff;
    -webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow:0 0 10px #000;
    margin-bottom: 10px;
}

.Wait {
    margin: 20px auto;
    width: 50%;
}

#snake-container {
    margin-top: 20px;
    margin-bottom: 20px;
}