.toggle-controlbox {
    display: none !important;
}

.configure-chatroom-button {
    display: none !important;
}

.close-chatbox-button {
    display: none !important;
}

.chat-title {
    display: none !important;
}

#toggle-minimized-chats {
    display: none !important;
}

#conversejs #minimized-chats .minimized-chats-flyout {
    bottom: 0px !important;
}

.chatroom-features {
    visibility: hidden;
}