<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pienapple Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div id="main" class="container-fluid"></div>
<script type="text/javascript">
    window.Pienapple = {};
    {% if userId.length > 0 %}
    window.Pienapple.userId = '{{ userId }}';
    {% endif %}
</script>
<script src="/js/bundle.js"></script>
</body>
</html>