@import url('../../Variables.pcss');

.Learning {
    display: flex;
    height: 100vh;

    &-medium {
        width: 80%;
    }

    &-task {
        width: 20%;
        background-color: $primary-color;
        padding: 15px;

        @media (min-width: 992px) {
            height: 100%;
            position: fixed;
            right:0;
        }
    }
}