@import url('../variables.css');

.Task {
    padding: 10px;
    height: 100px;
    margin-right: -10px;
    margin-bottom: 14px;

    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;

    text-align: center;

    &-info {
        text-align: left;
        width: auto;
        height: 100%;
        overflow-y: scroll;

        &-title {
            font-weight: 700;
            font-size: 1.2em;
        }
    }

    &-submit {
        width: 80px;
        float: right;
        margin-left: 10px;
    }

    .counter {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    .btn {
        margin: 0 auto;
        width: 80px;
        background-color: $primary-color;
        border-color: white;
    }
}