@import '../../../../Variables.pcss';

.QueryHistory {
    .list {
        height: 150px;
        overflow-y: auto;

        .item {
            padding: 2px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;

            
            border-left: 3px solid;

            a {
                margin-left: 10px;
            }

            .text {
                margin-left: 10px;
            }
        }
    }
}