@import '../../variables.css';

.Sidebar {
    border-left: 2px solid $border-color;
    padding-right: 25px;
    height: inherit;

    h3 {
        font-size: 20px;
        margin-left: 5px;
    }
}

/* HISTORY */

.QueryHistory {

    .list {
        height: 150px;
        overflow-y: auto;
    }

    &-result {
         padding: 2px;
         margin-bottom: 5px;
         margin-left: 0px;
         margin-right: 5px;

         border-left: 2px solid $border-color;
         border-width: 4px;
         background-color: #F5F5F5;

        a {
            margin-left: 10px;
        }

        .text {
            margin-left: 10px;
        }
    }
}

/* BOOKMARKS */

.BookmarkResults {

    .trash {
        float: left;
        margin-right: 6px;
        margin-left: 10px;
    }

    .trash .fa {
        color: #000;
        padding-top: 2px;
        font-size: 15px;
    }

    .list {
        height: 700px;
        overflow-y: auto;
    }

    &-result {
        padding: 2px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        border-left: 2px solid $border-color;
        border-width: 4px;

        h2 {
            font-size: 15px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 21px;
            max-width: 600px;
            margin: 0px;
            a, a:hover, a:focus {
                color: #000;
                text-decoration: none;
            }
        }

        span {
            color: #000;
            line-height: 16px;
            font-size: 12px;
            max-width: 500px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
